/*
 * Font Face definitions for Source Sans 3
 * Weights: 300 (Light), 400 (Regular), 500 (Medium), 600 (Semi-Bold), 700 (Bold)
 */

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/source-sans-3/source-sans-3-300.woff2') format('woff2'),
    url('../fonts/source-sans-3/source-sans-3-300.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/source-sans-3/source-sans-3-400.woff2') format('woff2'),
    url('../fonts/source-sans-3/source-sans-3-400.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/source-sans-3/source-sans-3-500.woff2') format('woff2'),
    url('../fonts/source-sans-3/source-sans-3-500.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/source-sans-3/source-sans-3-600.woff2') format('woff2'),
    url('../fonts/source-sans-3/source-sans-3-600.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/source-sans-3/source-sans-3-700.woff2') format('woff2'),
    url('../fonts/source-sans-3/source-sans-3-700.woff') format('woff');
}

/* * Sets the main font for the site if this stylesheet is loaded.
 */
:root {
    --mds-font-main: "Source Sans 3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}